<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing page</title>
    <link rel="stylesheet" href="../static/style1.css">
    <style>
        a:link,  a:visited,  a:hover, a:active{
            background-color: transparent;
            text-decoration: none;
        }
       
    </style>
</head>

<body>
    
    <img onclick= "window.location.href = '/' " class="dumbo" src="../static/gola.png" alt="logo" align="left">{}
    <img onclick= "window.location.href = '/team' " class="dumb" src="../static/team.png" alt="logo">{}

    <div class="container">
        <div class="box box-1">
            <div onclick='location.href="try.html"'>
                <class="cover"><img onclick= "window.location.href = '/try' "src="../static/1.png" alt="Meow"></div>
               <button type = "submit"  onclick= "window.location.href = '/try' " > <div></div> </button>
        </div>
        
        
        <div class="box box-2">
            <div onclick='location.href="index4.html"'>
                <class="cover"><img onclick= "window.location.href = '/index4' " src="../static/2.png" alt="MOVIES"></div>
            <button onclick= "window.location.href = '/index4' " > <div></div> </button>
        </div>

        <div class="box box-3">
            <div onclick='location.href="try1.html"'>
                <class="cover"><img src="../static/3.png" alt="MOVIE"></div>
            <button onclick= "window.location.href = '/try1' "> <div></div> </button>
        </div>

    </div>

    <video autoplay muted loop id="myVideo">
        <source src="../static/star.mp4" type="video/mp4">
    </video>
</body>


</html>