<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/style4.css">
    <style>
        a:link,  a:visited,  a:hover, a:active{
            color:white;
            background-color: transparent;
            text-decoration: none;
        }
       
    </style>
    
</head>

<body>
    <video autoplay muted loop id="myVideo">
        <source src="../static/star.mp4" type="video/mp4">
    </video>
    <img onclick= "window.location.href = '/' " class="dumbo" src="../static/gola.png" alt="logo" align="left">
    <div class="container">

        <div class="box english">
            <div onclick='location.href="e.html"'>
                <class="cover"><img src="../static/english.png" alt="ENGLISH"></div>
            <button onclick= "window.location.href = '/moe' " > <a href = moe><div></div></button>
        </div>
        <div class="box hindi">
            <div onclick='location.href="h.html"'>
                <class="cover"><img src="../static/hindi.png" alt="HINDI"></div>
            <button onclick= "window.location.href = '/moh' "><a href = 'moh'><div></div></button>
        </div>
        <div class="box tamil">
            <div onclick='location.href="ta.html"'>
                <class="cover"><img src="../static/tamil.png" alt="TAMIL"></div>
            <button onclick= "window.location.href = '/motam' "> <a href = motam> <div></div></button>
        </div>
        <div class="box telugu">
            <div onclick='location.href="te"'>
                <class="cover"><img src="../static/telugu.png" alt="TELUGU"></div>
            <button onclick= "window.location.href = '/mot' " ><a href = 'mot'><div></div></button>
        </div>
        <div class="box kannada">
            <div onclick='location.href="k.html"'>
                <class="cover"><img src="../static/kannada.png" alt="KANNADA"></div>
            <button onclick= "window.location.href = '/mok' "><a href = 'mok'><div></div></button>
        </div>
        <div class="box marathi">
            <div onclick='location.href="m.html"'>
                <class="cover"><img src="../static/marathi.png" alt="MARATHI"></div>
            <button onclick= "window.location.href = '/mom' "><a href = 'mom'><div></div></button>
        </div>
        <div class="box punjabi">
            <div onclick='location.href="p.html"'>
                <class="cover"><img src="../static/punjabi.png" alt="PUNJABI"></div>
            <button onclick= "window.location.href = '/mop' " ><a href = 'mop'><div></div></button>
        </div>
        <div class="box gujarati">
            <div onclick='location.href="g.html"'>
                <class="cover"><img src="../static/gujarati.png" alt="GUJARATI"></div>
            <button onclick= "window.location.href = '/mog' "><a href = 'mog'><div></div></button>
        </div>
        <div class="box bengali">
            <div onclick='location.href="b.html"'>
                <class="cover"><img src="../static/bengali.png" alt="BENGALI"></div>
            <button onclick= "window.location.href = '/mob' "><a href = 'mob'><div></div></button>
        </div>
        <div class="box bhojpuri">
            <div onclick='location.href="bp.html"'>
                <class="cover"><img src="../static/bhojpuri.png" alt="BHOJPURI"></div>
            <button onclick= "window.location.href = '/mobp' "><a href = 'mobp'><div></div></button>
        </div>

    </div>
</body>

</html>