<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Final Music</title>
    <link rel="stylesheet" href="../static/style5.css">
    <script src="https://use.fontawesome.com/8416ea41ee.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <video autoplay muted loop id="myVideo">
        <source src="../static/star.mp4" type="video/mp4">
    </video>




    <img onclick="window.location.href = '/mok' " class="dumbo" src="../static/gola.png" alt="logo" align="left">
    <div class="chinu">
        <span onclick="window.location.href = 'krap' " class="btn">  REFRESH  </span>
    </div>
    <div class="grid">
        <div class="card">
            <a href="#0" aria-labelledby="person1"></a>
            <div class="card-front-wrap">
                <div class="card-front">
                    <h1>{{a[0]}}</h1> 
                    <br><br>
                    
                </div>
            </div>
            <div class="card-overlay">
                <h5 id="person1">MORE INFO <i class="far fa-arrow-alt-circle-down fa-lg"></i></h5>
                <div class="card-body">
                    <p>ARTIST NAME: {{a[1]}}<br>
                        <br> GENRE : {{a[2]}}</p>
                </div>
            </div>-
        </div>
        <div class="card">
            <a href="#0" aria-labelledby="person1"></a>
            <div class="card-front-wrap">
                <div class="card-front">
                    <h1>{{a[3]}}</h1>
               
                </div>
            </div>
            <div class=" card-overlay ">
                <h5 id="person1 ">MORE INFO <i class="far fa-arrow-alt-circle-down fa-lg "></i></h5>
                <div class="card-body ">
                    <p>ARTIST NAME : {{a[4]}}<br>
                        <br> GENRE : {{a[5]}}</p>
                </div>
            </div>
        </div>
        <div class="card ">
            <a href="#0 " aria-labelledby="person1 "></a>
            <div class="card-front-wrap ">
                <div class="card-front ">
                    <h1>{{a[6]}}</h1>
                    <!-- <img src="micro.png"> -->
                </div>
            </div>
            <div class="card-overlay ">
                <h5 id="person1 ">MORE INFO <i class="far fa-arrow-alt-circle-down fa-lg "></i></h5>
                <div class="card-body ">
                    <p>ARTIST NAME : {{a[7]}}<br>
                        <br>GENRE : {{a[8]}}
                    </p>
                </div>
            </div>
        </div>
        <div class="card ">
            <a href="#0 " aria-labelledby="person1 "></a>
            <div class="card-front-wrap ">
                <div class="card-front ">
                    <h1>{{a[9]}}</h1>
                    <!-- <img src="radio.png"> -->
                </div>
            </div>
            <div class="card-overlay ">
                <h5 id="person1 ">MORE INFO <i class="far fa-arrow-alt-circle-down fa-lg "></i></h5>
                <div class="card-body ">
                    <p>ARTIST NAME : {{a[10]}}<br>
                        <br>GENRE : {{a[11]}}
                    </p>
                </div>
            </div>
        </div>




        <ul>

            <li><i class="fa fa-spotify" aria-hidden="true" onclick='location.href="https://www.spotify.com/us/"'></i></li>
            <li><i class="fa fa-youtube" aria-hidden="true" onclick='location.href="https://www.youtube.com/"'></i></li>

        </ul>





    </div>

</body>

</html>