<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styleb.css">
    <title>BENGALI</title>
    <style>
        a:link,  a:visited,  a:hover, a:active{
            color:white;
            background-color: transparent;
            text-decoration: none;
        }
       
    </style>
</head>

<body>
    <video autoplay muted loop id="myVideo">
        <source src="../static/star.mp4" type="video/mp4">
    </video>
    <img onclick="window.location.href = '/index4' " class="dumbo" src="../static/gola.png" alt="logo" align="left">
    <div class="header">
        <h2 style="font-size:6vw;">What's your mood today ?</h2>
    </div>
    <div class=" hero-container ">
        <div class="main-container ">
            <div class="poster-container ">
                <a href="# "><img src="../static/dance.gif" class="poster " /></a>
            </div>
            <div class="main ">
                <div class="body ">
                    <h4 class="mood ">BREAK A LEG</h4>
                    <p class="quote"><i>"Turn up the volume, close your eyes <br>and let the music take over your soul."</i>
                    </p>
                    <button onclick='window.location.href="/bdance"' class="recom"><a href =  bdance>SEE YOUR <br> RECOMMENDATIONS</button>
                </div>
            </div>
        </div>

        <div class="main-container">
            <div class="poster-container">
                <a href="#"><img src="../static/energy.gif" class="poster" /></a>
            </div>
            <div class="main">
                <div class="body">
                    <h4 class="mood">ENERGETIC</h4>
                    <p class="quote"><i>"Great things happen when you move."</i>
                    </p>
                    <button onclick='window.location.href="/brap"' class="recom"> <a href = brap >SEE YOUR<br> RECOMMENDATIONS</button>
                </div>
            </div>
        </div>

        <div class="main-container">
            <div class="poster-container">
                <a href="#"><img src="../static/emo.gif" class="poster" /></a>
            </div>
            <div class="main">
                <div class="body">
                    <h4 class="mood">EMOTIONAL</h4>
                    <p class="quote"><i>"Years of love have been forgotten <br> in the hatred of a minute."</i></p>
                    <button onclick='window.location.href="/bemo"' class="recom"> <a href = bemo >SEE YOUR<br> RECOMMENDATIONS</button>
                </div>
            </div>
        </div>

        <div class="main-container">
            <div class="poster-container">
                <a href="#"><img src="../static/devo.gif" class="poster" /></a>
            </div>
            <div class="main">
                <div class="body">
                    <h4 class="mood">DEVOTIONAL</h4>
                    <p class="quote"><i>"The Lord will lead you to a life that you love deeply."</i></p>
                    <button onclick='window.location.href="/bedvo"' class="recom"> <a href = bdevo >SEE YOUR<br> RECOMMENDATIONS</button>
                </div>
            </div>
        </div>

    </div>
</body>

</html>