<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/stylebp.css">
    <title>BHOJPURI</title>
    <style>
        a:link,  a:visited,  a:hover, a:active{
            color:white;
            background-color: transparent;
            text-decoration: none;
        }
       
    </style>
</head>

<body>
    <video autoplay muted loop id="myVideo">
        <source src="../static/star.mp4" type="video/mp4">
    </video>
    <img onclick="window.location.href = '/index4' " class="dumbo" src="../static/gola.png" alt="logo" align="left">
    <div class="header">
        <h2 style="font-size:6vw;">What's your mood today ?</h2>
    </div>
    <div class=" hero-container ">
        <div class="main-container ">
            <div class="poster-container ">
                <a href="# "><img src="../static/dance.gif" class="poster " /></a>
            </div>
            <div class="main ">
                <div class="body ">
                    <h4 class="mood ">BREAK A LEG</h4>
                    <p class="quote"><i>"Turn up the volume, close your eyes <br>and let the music take over your soul."</i>
                    </p>
                    <button onclick='window.location.href="/bpdance"' class="recom"><a href = bpdance >SEE YOUR <br> RECOMMENDATIONS</button>
                </div>
            </div>
        </div>

        <div class="main-container">
            <div class="poster-container">
                <a href="#"><img src="../static/PF.gif" class="poster" /></a>
            </div>
            <div class="main">
                <div class="body">
                    <h4 class="mood">PEACEFUL</h4>
                    <p class="quote"><i>"Listen to the silence. <br>It’s telling the truth."</i>
                    </p>
                    <button onclick='window.location.href="/bppeace"' class="recom"><a href = bppeace >SEE YOUR<br> RECOMMENDATIONS</button>
                </div>
            </div>
        </div>

        <div class="main-container">
            <div class="poster-container">
                <a href="#"><img src="../static/romance.gif" class="poster" /></a>
            </div>
            <div class="main">
                <div class="body">
                    <h4 class="mood">HEART BEATS</h4>
                    <p class="quote"><i>"No human being has ever stood <br>so close to my soul as you stand."</i></p>
                    <button onclick='window.location.href="/bpromance"' class="recom"><a href = bpromance >SEE YOUR<br> RECOMMENDATIONS</button>
                </div>
            </div>
        </div>

        <div class="main-container">
            <div class="poster-container">
                <a href="#"><img src="../static/sad.gif" class="poster" /></a>
            </div>
            <div class="main">
                <div class="body">
                    <h4 class="mood">MELANCHOLY</h4>
                    <p class="quote"><i>"All the clouds in me are raining."</i></p>
                    <button onclick='window.location.href="/bpsad"' class="recom"><a href = bpsad >SEE YOUR<br> RECOMMENDATIONS</button>
                </div>
            </div>
        </div>

    </div>
</body>

</html>