<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/stylee.css">
    <title>KANNADA</title>
    <style>
        a:link,  a:visited,  a:hover, a:active{
            color:white;
            background-color: transparent;
            text-decoration: none;
        }
       
    </style>
</head>

<body>
    <video autoplay muted loop id="myVideo">
        <source src="../static/star.mp4" type="video/mp4">
    </video>
    <img onclick="window.location.href = '/index4' " class="dumbo" src="../static/gola.png" alt="logo" align="left">
    <div class="header">
        <h2 style="font-size:6vw;">What's your mood today ?</h2>
    </div>
    <div class=" hero-container ">
        <div class="main-container ">
            <div class="poster-container ">
                <a href="# "><img src="../static/romance.gif" class="poster " /></a>
            </div>
            <div class="main ">
                <div class="body ">
                    <h4 class="mood ">ROMANTIC</h4>
                    <p class="quote"><i>"No human being has ever stood<br>so close to my soul as you stand.</i>
                    </p>
                    <button onclick='window.location.href="/kromance"' class="recom"> <a href = kromance > SEE YOUR <br> RECOMMENDATIONS</button>
                </div>
            </div>
        </div>

        <div class="main-container">
            <div class="poster-container">
                <a href="#"><img src="../static/energy.gif" class="poster" /></a>
            </div>
            <div class="main">
                <div class="body">
                    <h4 class="mood">ENERGETIC</h4>
                    <p class="quote"><i>"Great things happen when you move."</i>
                    </p>
                    <button onclick='window.location.href="/krap"' class="recom"> <a href = krap>SEE YOUR<br> RECOMMENDATIONS</button>
                </div>
            </div>
        </div>

        <div class="main-container">
            <div class="poster-container">
                <a href="#"><img src="../static/chill.gif" class="poster" /></a>
            </div>
            <div class="main">
                <div class="body">
                    <h4 class="mood">CHILL</h4>
                    <p class="quote"><i>"I chill harder than you party"</i></p>
                    <button onclick='window.location.href="/kchill"' class="recom"> <a href = kchill >SEE YOUR<br> RECOMMENDATIONS</button>
                </div>
            </div>
        </div>

        <div class="main-container">
            <div class="poster-container">
                <a href="#"><img src="../static/devo.gif" class="poster" /></a>
            </div>
            <div class="main">
                <div class="body">
                    <h4 class="mood">DEVOTIONAL</h4>
                    <p class="quote"><i>"The Lord will lead you to a life that you love deeply"</i></p>
                    <button onclick='window.location.href="/kdevo"' class="recom"> <a href = kdevo >SEE YOUR<br> RECOMMENDATIONS</button>
                </div>
            </div>
        </div>

    </div>
</body>

</html>