<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/stylec.css">
    <style>

    </style>
    <title>Document</title>
</head>

<body>
    
    <video autoplay muted loop id="myVideo">
        <source src="../static/star.mp4" type="video/mp4">
    </video>
    <img onclick= "window.location.href = '/' " class="dumbo" src="../static/gola.png" alt="logo" align="left">
    <div class="header">
       <h2 style="font-size:6vw;">Know the team</h2>
    </div>
    <div class=" hero-container ">
        <div class="main-container ">
            <div class="poster-container ">
                <a href="# "><img src="../static/diti1.png" class="poster " /></a>
            </div>
            <div class="main ">
                <div class="body ">
                    <h4 class="mood ">DITI <br> DIVEKAR<br><br><br></h4>
                    <!-- <p class="quote"><i>"My mom said follow your dreams,<br> so I went back to bed"</i>
                    </p> -->
                    <button onclick='location.href="https://www.linkedin.com/in/ditidivekar/"' class="recom">CONNECT</button>
                </div>
            </div>
        </div>

        <div class="main-container">
            <div class="poster-container">
                <a href="#"><img src="../static/shruti1.png" class="poster" /></a>
            </div>
            <div class="main">
                <div class="body">
                    <h4 class="mood">SHRUTI <br> TYAGI<br><br><br></h4>
                    <!-- <p class="quote"><i>"He's more myself than I am.<br>Whatever our souls are made of, his and mine are the same"</i>
                    </p> -->
                    <button onclick='location.href="https://www.linkedin.com/in/tyagishruti/"' class="recom">CONNECT</button>
                </div>
            </div>
        </div>

        <div class="main-container">
            <div class="poster-container">
                <a href="#"><img src="../static/shriya1.png" class="poster" /></a>
            </div>
            <div class="main">
                <div class="body">
                    <h4 class="mood">SHRIYA<br>PINGULKAR<br><br><br></h4>
                    <!-- <p class="quote"><i>"When you focus on the good, the good increases"</i></p> -->
                    <button onclick='location.href="https://www.linkedin.com/in/shriya-pingulkar/"' class="recom">CONNECT</button>
                </div>
            </div>
        </div>

        <!-- <div class="main-container">
            <div class="poster-container">
                <a href="#"><img src="../static/sad.gif" class="poster" /></a>
            </div>
            <div class="main">
                <div class="body">
                    <h4 class="mood">MELANCHOLY</h4>
                    <p class="quote"><i>"Temporarily closed for a reality check"</i></p>
                    <button onclick='location.href="index5.html"' class="recom">SEE YOUR<br> RECOMMENDATIONS</button>
                </div>
            </div>
        </div> -->

    </div>
</body>

</html>