<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/try.css">
    <title>Document</title>

    <style>
        a:link,  a:visited,  a:hover, a:active{
            color:white;
            background-color: transparent;
            text-decoration: none;
        }
       
    </style>

</head>

<body>
    

    <video autoplay muted loop id="myVideo">
        <source src="../static/star.mp4" type="video/mp4">
    </video>
    <img onclick= "window.location.href = '/' " class="dumbo" src="../static/gola.png" alt="logo" align="left">
    <div class="header">
        <h2 style="font-size:6vw;">What's your mood today ?</h2>
    </div>
    <div class=" hero-container ">
        <div class="main-container ">
            <div class="poster-container ">
                <a href="# "><img src="../static/funny.gif " class="poster " /></a>
            </div>
            <div class="main ">
                <div class="body ">
                    <h4 class="mood ">FUNNY</h4>
                    <p class="quote"><i>"My mom said follow your dreams,<br> so I went back to bed"</i>
                    </p>
                    <button onclick= "window.location.href = '/mfunny' " class="recom"><a href = mfunny>SEE YOUR <br> RECOMMENDATIONS</button>
                </div>
            </div>
        </div>

        <div class="main-container">
            <div class="poster-container">
                <a href="#"><img src="../static/romance.gif" class="poster" /></a>
            </div>
            <div class="main">
                <div class="body">
                    <h4 class="mood">ROMANCE</h4>
                    <p class="quote"><i>"He's more myself than I am.<br>Whatever our souls are made of, his and mine are the same"</i>
                    </p>
                    <button onclick= "window.location.href = '/mromantic' " class="recom"><a href = mromantic>SEE YOUR<br> RECOMMENDATIONS</button>
                </div>
            </div>
        </div>

        <div class="main-container">
            <div class="poster-container">
                <a href="#"><img src="../static/feelgud.gif" class="poster" /></a>
            </div>
            <div class="main">
                <div class="body">
                    <h4 class="mood">FEEL GOOD</h4>
                    <p class="quote"><i>"When you focus on the good, the good increases"</i></p>
                    <button onclick= "window.location.href = '/mfeelgood' " class="recom"><a href = mfeelgood>SEE YOUR<br> RECOMMENDATIONS</button>
                </div>
            </div>
        </div>

        <div class="main-container">
            <div class="poster-container">
                <a href="#"><img src="../static/drama.gif" class="poster" /></a>
            </div>
            <div class="main">
                <div class="body">
                    <h4 class="mood">DRAMATIC</h4>
                    <p class="quote"><i>"Temporarily closed for a reality check"</i></p>
                    <button onclick= "window.location.href = '/mdramatic' " class="recom"><a href = mdramatic>SEE YOUR<br> RECOMMENDATIONS</button>
                </div>
            </div>
        </div>

        <div class="main-container">
            <div class="poster-container">
                <a href="#"><img src="../static/thrill.gif" class="poster" /></a>
            </div>
            <div class="main">
                <div class="body">
                    <h4 class="mood">THRILLER</h4>
                    <p class="quote"><i>"Life starts at the end of your comfort zone"</i></p>
                    <button onclick= "window.location.href = '/mthrill' " class="recom"><a href = mthrill>SEE YOUR<br> RECOMMENDATIONS</button>
                </div>
            </div>
        </div>

        <div class="main-container">
            <div class="poster-container">
                <a href="#"><img src="../static/heartwarm.gif" class="poster" /></a>
            </div>
            <div class="main">
                <div class="body">
                    <h4 class="mood">HEART-WARMING</h4>
                    <p class="quote"><i>"I would rather walk with a friend during the dark than alone in the light"</i></p>
                    <button onclick= "window.location.href = '/mheartwarm' " class="recom"><a href = mheartwarm>SEE YOUR <br> RECOMMENDATIONS</button>
                </div>
            </div>
        </div>

        <div class="main-container">
            <div class="poster-container">
                <a href="#"><img src="../static/inspi.gif" class="poster" /></a>
            </div>
            <div class="main">
                <div class="body">
                    <h4 class="mood">INSPIRING</h4>
                    <p class="quote"><i>"As long as we are breathing,<br> it is never too late to change the story"</i></p>
                    <button onclick= "window.location.href = '/minspi' " class="recom"> <a href = minspi> SEE YOUR<br>RECOMMENDATIONS</button>
                </div>
            </div>
        </div>

        <div class="main-container">
            <div class="poster-container">
                <a href="#"><img src="../static/smurt.gif" class="poster" /></a>
            </div>
            <div class="main">
                <div class="body">
                    <h4 class="mood">SMART</h4>
                    <p class="quote"><i>"We cannot solve problems using the <br>same thinking that we used to create them."</i></p>
                    <button onclick= "window.location.href = '/msmart' " class="recom"><a href = msmart>SEE YOUR <br> RECOMMENDATIONS</button>
                </div>
            </div>
        </div>

        <div class="main-container">
            <div class="poster-container">
                <a href="#"><img src="../static/scary.gif" class="poster" /></a>
            </div>
            <div class="main">
                <div class="body">
                    <h4 class="mood">SCARY</h4>
                    <p class="quote">
                        <i>"Murder is like potato chips;<br> you can't stop with just one"</i></p>
                    <button onclick= "window.location.href = '/mscary' " class="recom"><a href = mscary>SEE YOUR <br> RECOMMENDATIONS</button>
                </div>
            </div>
        </div>

        <div class="main-container">
            <div class="poster-container">
                <a href="#"><img src="../static/action.gif" class="poster" /></a>
            </div>
            <div class="main">
                <div class="body">
                    <h4 class="mood">ACTION-PACKED</h4>
                    <p class="quote">
                        <i>"Never interrupt your enemy when he is making a mistake"</i></p>
                    <button onclick= "window.location.href = '/maction' " class="recom "> <a href = maction>SEE YOUR <br> RECOMMENDATIONS</button>
                </div>
            </div> 
        </div>
    </div>
</body>

</html>